body {
    background-color: silver;
    height: 100%;
}
.li-aniversariante, .li-convidado, .li-lista {
    
	text-align: center;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
    border: 4px solid #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    background-image: url("fundo_form.png") 
}
.ul-dados {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
h1 {
    text-align: center;
    color: rgb(221, 51, 28);
    font-size: 2.5em;
    padding: 15px;
    background-color: black;
}
img {
    width: 40px;
}
#aniversariante-form ,#data-form, #local-form, #idade-form,#nome-form, #hora-form, #opcao-form{
    padding: 15px;
    font-size: 18px;
}
input {
    
    font-size: 18px;
    
}
h2, h3, h4 {
    color: rgb(221, 51, 28);
    font-size: 25px;
    padding: 15px;
}
button {
    font-size: 18px;
    background-color: orange;
    border-radius: 10px;
}
td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
    text-align: center;
    background-color: white;
}

th{
	font-weight: bold;
	background-color: white;
}
.font-local {
    width: 300px;
}
.table {
    display: inline;
    
}
.botao-convite {
    text-align: center;
}
#fazendo-convite {
    font-style: italic;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;	
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
    border: 4px solid #ffffff;
    border-radius: 10px;
    
    
    
}
.nome-convite {
    font-size: 50px;
}
.idade-convite {
    font-size: 30px;
    padding-left: 50px;
    
}
.local-convite {
    font-size: 18px;
    padding-left: 200px;
}
.convite-menina {
    background-image: url("ima.png")
}
.convite-menino {
    background-image: url("fundo_azul.png");
}
.fadeOut {
	opacity: 0;
	transition: 0.5s;
}
.mensagem-erro {
    color: red;
}