li {
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
    border: 4px solid #c92f2f;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(223, 221, 221);
}

h1 {
    text-align: center;
    color: rgb(221, 51, 28);
    font-size: 35px;
    padding: 15px;
    background-color: black;
}
img {
    width: 2%;
}
#aniversariante-form ,#data-form, #local-form, #idade-form,#nome-form, #hora-form, #opcao-form{
    padding: 15px;
    font-size: 18px;
}
input {
    
    font-size: 18px;
    
}
h2, h3, h4 {
    color: rgb(221, 51, 28);
    font-size: 25px;
    padding: 15px;
}
button {
    font-size: 18px;
    background-color: orange;
    border-radius: 10px;
}
td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
    text-align: center;
    background-color: white;
}

th{
	font-weight: bold;
	background-color: white;
}
.font-local {
    width: 300px;
}
.table {
    display: inline;
    
}
.botao-convite {
    text-align: center;
}
.fazendo-convite {
    font-style: italic;
    font-size: 30px;
    color: rgb(255, 255, 255);
    /*background: linear-gradient(rgb(236, 9, 236),blue);
     background-image: url("ima.png")*/
    background-color: rgb(161, 7, 7);
    
}
.nome-convite {
    font-size: 50px;
}
.idade-convite {
    font-size: 30px;
    padding-left: 50px;
    
}
.ul-convite {
    margin-bottom: 20px;
    text-align: center;
}
footer {
    text-align: center;
    color: rgb(221, 51, 28);
    font-size: 15px;
    padding: 5px;
    background-color: black;
}
.local-convite {
    font-size: 18px;
    padding-left: 200px;
}
